<ul class="nav navbar-nav navbar-right">
    <li><a href="#">Text link</a></li>

    <li>
        <a href="#">
            <i class="icon-cog3"></i>
            <span class="visible-xs-inline-block position-right">Icon link</span>
        </a>
    </li>

    <li class="dropdown dropdown-user">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <img src="assets/images/image.png" alt="">
            <span>{{ nombrecompleto }}</span>
            <i class="caret"></i>
        </a>

        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#"><i class="icon-user-plus"></i> Mi Perfil</a></li>
            <li><a href="#"><span class="badge badge-warning pull-right">58</span> <i class="icon-comment-discussion"></i> Mensajes</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="icon-cog5"></i>Configuracion de Cuenta</a></li>
            <li><a (click)="logout()" href="#"><i class="icon-switch2"></i>Cerrar sesión</a></li>
        </ul>
    </li>
</ul>