<!-- /main navbar -->

<div class="sidebar-content">
    <!-- Main navigation -->
    <div class="sidebar-category sidebar-category-visible">
        <div class="category-content no-padding">
            <ul class="navigation navigation-main navigation-accordion">

                <!-- Main -->
                <li class="navigation-header"><span>Menu Principal</span> <i class="icon-menu" title="Main pages"></i>
                </li>
                <li><a href="#"><i class="icon-home4"></i> <span>Inicio</span></a></li>
                <li class="active">
                    <a href="#"><i class="icon-stack"></i> <span>Módulo de Seguridad</span></a>
                    <ul>
                        <li class="active"><a href="#">Gestión de Usuarios</a></li>
                        <li><a href="#">Gestión de Sistemas</a></li>
                        <li><a href="#">Gestión de Proyectos</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="icon-list-unordered"></i> <span>Módulo de Logística</span></a>
                </li>
                <li><a href="#"><i class="icon-address-book2"></i>
                                    <span>Módulo de Capacitación</span></a></li>
                <li><a href="#"><i class="icon-bell-check"></i> <span>Módulo de RRHH</span></a></li>
                <!-- /main -->

            </ul>
        </div>
    </div>
    <!-- /main navigation -->

</div>

<!-- Page container -->